snippet scriptsrc "script(src=...)" w
script(src="$1" type="text/javascript" charset="${3:utf-8}")
endsnippet

snippet link "link" w
link(rel="${1:stylesheet}" href="${2:/css/master.css}" type="text/css" media="${3:screen}" title="${4:no title}" charset="${5:utf-8}")
endsnippet
